input[type="submit"],input[type="reset"],input[type="button"],input.button,button,a.button {
	display: inline-block;
	padding: 0px 12px;
	margin: 2px;
	line-height: 19px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	border-width: 1px;
	border-style: solid;
	text-decoration: none;
	font-family: "Lucida Grande", lucida, "Helvetica Neue", helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,0.09);
	text-decoration: none !important;
	cursor: pointer;
}
.button {float: left}
@-webkit-keyframes blinking {
	from {
		-webkit-box-shadow: 
			inset 0 19px 0 rgba(215,115,0,0), 
			inset 0 1px 0 rgba(255,255,255,1),
			0 1px 0 rgba(0,0,0,0.09);
		}
	50% {
		-webkit-box-shadow: 
			inset 0 19px 0 rgba(215,115,0,0.2), 
			inset 0 1px 0 rgba(255,255,255,1),
			0 1px 0 rgba(0,0,0,0.09);
		}
	to {
		-webkit-box-shadow: 
			inset 0 19px 0 rgba(215,115,0,0), 
			inset 0 1px 0 rgba(255,255,255,1),
			0 1px 0 rgba(0,0,0,0.09);
		}
	}

	@-moz-keyframes blinking {
	from {
		-moz-box-shadow: 
			inset 0 19px 0 rgba(215,115,0,0), 
			inset 0 1px 0 rgba(255,255,255,1),
			0 1px 0 rgba(0,0,0,0.09);
		}
	50% {
		-moz-box-shadow: 
			inset 0 19px 0 rgba(215,115,0,0.2), 
			inset 0 1px 0 rgba(255,255,255,1),
			0 1px 0 rgba(0,0,0,0.09);
		}
	to {
		-moz-box-shadow: 
			inset 0 19px 0 rgba(215,115,0,0), 
			inset 0 1px 0 rgba(255,255,255,1),
			0 1px 0 rgba(0,0,0,0.09);
		}
	}
	
	@keyframes blinking {
	from {
		box-shadow: 
			inset 0 19px 0 rgba(215,115,0,0), 
			inset 0 1px 0 rgba(255,255,255,1),
			0 1px 0 rgba(0,0,0,0.09);
		}
	50% {
		box-shadow: 
			inset 0 19px 0 rgba(215,115,0,0.2), 
			inset 0 1px 0 rgba(255,255,255,1),
			0 1px 0 rgba(0,0,0,0.09);
		}
	to {
		box-shadow: 
			inset 0 19px 0 rgba(215,115,0,0), 
			inset 0 1px 0 rgba(255,255,255,1),
			0 1px 0 rgba(0,0,0,0.09);
		}
	}

input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,input.button:hover, button:hover, a.button:hover {
	border-top-color: #af5c5a;
	border-bottom-color: #6f5352;
	border-left-color: #8f5756;
	border-right-color: #8f5756;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #FDF7D3),
		color-stop(0.5, #FBC587),
		color-stop(0.5, #F9D1A1),
		color-stop(1, #FCE9D4)
		);
	background-image: -moz-linear-gradient(
		center bottom,
		#FDF7D3 0%,
		#FBC587 50%,
		#F9D1A1 50%,
		#FCE9D4 100%
		);
	-webkit-animation-name: blinking;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 1s;
	-moz-animation-name: blinking;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 1s;
	animation-name: blinking;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}

input[type="submit"]:active,input[type="reset"]:active,input[type="button"]:active,input.button:active, button:active, a.button:active {
	-webkit-box-shadow: 
			inset 0 19px 0 rgba(215,115,0,0.3), 
			inset 0 1px 0 rgba(255,255,255,1),
			0 1px 0 rgba(0,0,0,0.09);
	-webkit-animation-name: none;
	-moz-box-shadow: 
			inset 0 19px 0 rgba(215,115,0,0.3), 
			inset 0 1px 0 rgba(255,255,255,1),
			0 1px 0 rgba(0,0,0,0.09);
	-moz-animation-name: none;
	box-shadow: 
			inset 0 19px 0 rgba(215,115,0,0.3), 
			inset 0 1px 0 rgba(255,255,255,1),
			0 1px 0 rgba(0,0,0,0.09);
	animation-name: none;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #FDF7D3),
		color-stop(0.5, #FBC587),
		color-stop(0.5, #F9D1A1),
		color-stop(1, #FCE9D4)
		);
	background-image: -moz-linear-gradient(
		center bottom,
		#FDF7D3 0%,
		#FBC587 50%,
		#F9D1A1 50%,
		#FCE9D4 100%
		);
	border-top-color: #af5c5a;
	border-bottom-color: #6f5352;
	border-left-color: #8f5756;
	border-right-color: #8f5756;
}


input[type="submit"],input[type="reset"],input[type="button"],input.button,button,a.button {
	border-color: #9a9a9a;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #EBEBEB),
		color-stop(0.5, #ECECEC),
		color-stop(0.5, #F3F3F3),
		color-stop(1, #FFFFFF)
	);
	background-image: -moz-linear-gradient(
		center bottom,
		#EBEBEB 0%,
		#ECECEC 50%,
		#F3F3F3 50%,
		#FFFFFF 100%
	);
	-webkit-box-shadow: 
			inset 0 1px 0 rgba(255,255,255,1),
			0 1px 0 rgba(0,0,0,0.09);
	-moz-box-shadow: 
			inset 0 1px 0 rgba(255,255,255,1),
			0 1px 0 rgba(0,0,0,0.09);
	box-shadow: 
			inset 0 1px 0 rgba(255,255,255,1),
			0 1px 0 rgba(0,0,0,0.09);		
}

input[disabled=disabled],input.button.disabled,a.button.disabled {
	opacity: 0.5;
	cursor: default;
}