body {
	color: #333;
	font: normal 1em 'lucida grande', tahoma, verdana, arial, sans-serif;
	height: 100%;
	padding-bottom: 1px;
}
#login-wrap {
	width: 360px;
	margin: 0 auto;
}
#login-border {
	background: #5C5C5C;
	padding: 14px;
	height: 240px;
}
#login {
	background: white none;
	border: solid 1px #141414;
}
h1 {
	font-size: 2em;
	margin: 6px 0px 0px;
	text-align: center;
	color: #e33e3e;
}
#login form {
	padding: 18px 24px;
	font-weight: normal;
	background: white;
}
#login label {
	color: #777;
	font-size: 14px;
}
/* 
   Forms 
------------------------------------------------------------------- */

fieldset {
	border-left: 1px solid black;
	border-right: 1px solid black;
	margin: 1em 0 1.2em;
}

input, textarea, select {
	background-color: #FFFFFF;
	border-color: #d9d9d9 #D0D0D0 #A9A9A9;
	border-style: solid;
	border-width: 1px;
	font: normal 1em 'lucida grande', tahoma, verdana, arial, sans-serif;
	padding: 1px;
	outline: 0px;
}
input[type="text"], input[type="password"] {
	width: 180px;
}
#login #nav {
	text-shadow: white 0 1px 0;
	margin: 0 0 0 16px;
	padding: 0px 16px 22px;
}